<div class="container">
	<h3> Order Summary </h3>
	<hr/>
	<table class="table table-success table-striped">
		<thead>
	    	<tr>
			    <th scope="col">Item</th>
			    <th scope="col">Price</th>
			    <th scope="col">Quantity</th>
			    <th scope="col">Offers Applied</th>
	      		<th scope="col">Tax</th>
	      		<th scope="col">Discount</th>
	      		<th scope="col">Total</th>
	    	</tr>
	  	</thead>
	  	<tbody>
	  		<% @order_items.each do |order_item| %>
		  		<tr>
			  		<td><%= order_item.item.name %></td>
				    <td>$ <%= order_item.item.price %></td>
		      		<td><%= order_item.quantity %></td>
		      		<td><%= order_item.offers_applied %></td>
		     		<td>$ <%= order_item.total_tax %></td>
		     		<td>$ <%= order_item.total_discount %></td>
		     		<td>$ <%= order_item.total_price %></td>
		     	</tr>
		    <% end %>
		    <tr class="table-dark">
		    	<th scope="row">Total</th>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td><%= @order.total_tax %></td>
		    	<td><%= @order.total_discount %></td>
		    	<td><%= @order.total_amount %></td>
		    </tr>
	  	</tbody>
	</table>
	<hr/>

	<div class="row">
		<div class="col-sm-2">
			<%= link_to "Delete Order", order_path(@order.id), :method => 'delete', :class => "btn btn-danger" %>
		</div>
		<div class="col-sm-2">
			<%= link_to "Sumbit Order", complete_order_path(@order.id), :class => "btn btn-success" %>
		</div>
	</div>
</div>